body
{
    border: 3px solid black;
    height: 100vh;
    padding: 10px;
}

header
{
    border: 2px solid black;
    height: 100px;
    padding: 5px;
}

header div
{
    border: 1px solid black;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.company-logo
{
    border: 1px solid red;
    width: 250px;
}

.company-logo a
{
    border: 1px solid green;
    width: inherit;
    display: flex;
    justify-content: center;
}

#nav-links
{
    width: 400px;
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

#nav-links a
{
    border: 1px solid red;
    width: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
}

