body
{
    border: 1px solid black;
   display: flex;
   flex-direction: column;
}

header
{
    padding: 20px 0;
	height: 80px;
}
header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
header li {
	display: flex;
}
header li:first-child {
	margin: 0;
}
header li a {
	margin: 0 10px;
}
header li.logo {
	font-size: 36px;
}
header a {
	text-decoration: none;
}

main
{
    border: 1px black;
    display: flex;
    flex-direction: row;
    flex: auto;
}

article
{
    flex: 2;
    overflow-y: auto;
}

aside
{
    flex: 1;
    overflow-y: auto;
}
