body
{
    border: 1px solid black;
    line-height: 1;
   display: flex;
   flex-direction: column;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts and colors */

body {
	font-family: 'Josefin Sans', serif;
	color: rgba(0, 0, 0, 0.8);
}
h1, h2, h3, h4, h5, h6, header {
	font-family: 'Yeseva One', sans-serif;
}
article {
}
header {
	border-bottom: 1px solid rgb(221,221,221);
	transition: border-bottom-color 1s ease;
}
header a {
	color: rgba(0, 0, 0, 0.8);
}
aside {
	background: #FAFAFA;
}
aside p {
	border: 1px solid #bbb;
	background: #ddd;
	color: black;
}

header
{
    padding: 20px 0;
	height: 50px;
}

main
{
    border: 1px black;
    display: flex;
    flex-direction: row 2;
    flex: auto;
}

article
{
    flex: 2;
    overflow-y: auto;
}

aside
{
    flex: 1;
    overflow-y: auto;
}
